<!-- index is dashboard page -->

{% extends "faceapp/base_layout.html" %}
{% load static %}

{% block content %}

                <main>
                    <div class="container-fluid">
                        <h1 class="mt-4">Dashboard</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active">Dashboard</li>
                        </ol>
                        <!-- top 4 card -->
                        <div class="row">
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-primary text-black mb-4">
                                    <div class="card-body font-weight-bold">Total Staffs : {{sql_totstaff}}</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" href="#">View details</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-warning text-black mb-4">
                                    <div class="card-body font-weight-bold">No. of Present : {{sql_present}} </div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" href="#">View details</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-success text-black mb-4">
                                    <div class="card-body font-weight-bold">No. of Absentee : {{sql_absent}}</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" href="#">View details</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                           <!--  <div class="col-xl-3 col-md-6">
                                <div class="card bg-danger text-white mb-4">
                                    <div class="card-body font-weight-bold">New Staff : 2</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" href="#">View details</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div> -->
                        </div>
                        <!-- Area of chart and bar graph -->
                        <div class="row">
                            <div class="col-xl-6">
                                <div class="card mb-4">
                                    <div class="card-header">
                                        <i class="fas fa-chart-area mr-1"></i>
                                        Area Chart Example
                                    </div>
                                    <div class="card-body"><canvas id="myAreaChart" width="100%" height="40"></canvas></div>
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="card mb-4">
                                    <div class="card-header">
                                        <i class="fas fa-chart-bar mr-1"></i>
                                        Bar Chart Example
                                    </div>
                                    <div class="card-body"><canvas id="myBarChart" width="100%" height="40"></canvas></div>
                                </div>
                            </div>
                        </div>
                        <!-- datatable -->
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table mr-1"></i>
                                DataTable Example
                            </div>
                            <div class="card-body">
                                <div class="table-responsive table-hover">
                                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                        <thead class="">
                                            <tr>
                                                <th>Teachers</th>
                                                <th>Code</th>
                                                <th>Designation</th>
                                                <!-- <th>Department</th> -->
                                                <th>Attendance</th>
                                                <th>Time</th>
                                            </tr>
                                        </thead>
                                        <tfoot class="">
                                            <tr>
                                                <th>Teachers</th>
                                                <th>Code</th>
                                                <th>Designation</th>
                                                <!-- <th>Department</th> -->
                                                <th>Attendance</th>
                                                <th>Time</th>
                                            </tr>
                                        </tfoot>
                                        <tbody class="">
                                            {% for object in teacherdbs.all%}
                                            <tr>
                                                <td class="text-left">
                                                    <img class="img rounded-circle img-thumbnail" width="30" height="30" alt="icon" src="{{object.image.url}}">
                                                     {{object.teachers}}
                                                </td>
                                                <td>{{object.code}}</td>
                                                <td>{{object.desgination}}</td>
                                                {% if object.attendance == 'Present' %}
                                                <td class="text-success font-weight-bold">{{object.attendance}}</td>
                                                {% else %}
                                                <td class="text-danger font-weight-bold">{{object.attendance}} ❌</td>
                                                {% endif %}
                                                </td>
                                                <td>{{object.time}}</td>
                                            </tr> 
                                            {% endfor %}
                                            <tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
{% endblock %}
